<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form>
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input label="Ingrese Mensaje: " placeholder=""></ion-input>
          </ion-item>
        </ion-list>
        <ion-button>Enviar</ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
